{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "no-debugger": 1
  }
}